:javascript
  window.calc_path = "#{calculate_path}";

#calculator
  .top
    %span.clear C
    .screen
  .keys
    %span 7
    %span 8
    %span 9
    %span.operator +
    %span 4
    %span 5
    %span 6
    %span.operator -
    %span 1
    %span 2
    %span 3
    %span.operator /
    %span 0
    %span .
    %span.eval =
    %span.operator *